mixin navTree( parent )
  ul(class={ "current": parent.id === page.id })
    if parent.name == "$"
      li.section(data-anchor="#top"): a(href="{{base}}/#top") Home
    each item in parent.sections
      if !item.hidden
        if item.type == "page"
          li.page(class={ "current-parent": page.id.substr(0, item.id.length) === item.id, current: page.id === item.id }, data-anchor=item.anchor)
            a(href="{{base}}#{item.id}#top")
              i(class=[ "mdi", ( item.icon ? "mdi-" + item.icon : "mdi-book-open" ), "icon" ])
              =item.label
            +navTree( item )
        else
          li.section(data-anchor=item.anchor): a(href="{{base}}#{parent.id}##{item.anchor}")=item.label

button#toc-open(title="Open Table of Contents"): i.mdi.mdi-format-list-bulleted

nav#toc
  button#toc-close: i.mdi.mdi-close
  .wrap
    each item in nav.sections
      if item.type == "page" && page.id.substr(0, item.id.length) === item.id
        +navTree(item)